body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

h1 {
  background: lightgray;
  padding: 10px 15px;
  margin: 0;
  margin-bottom: 20px;
}

a {
  display: inline-block;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

p {
  text-align: justify;
}

.app {
  max-width: 900px;
  margin: 0 auto;
}

.section {
  font-weight: bold;
  margin-left: 10px;
  border-left: 1px dotted lightgray;
  font-size: 1em;
}

.section-title {
  padding: 5px;
}

.section > .section {
  font-size: 0.8em;
}

.question-container {
  font-weight: lighter;
  padding: 10px 0 10px 10px;
}

question, answer {
  padding: 5px;
  display: block;
  line-height: 16px;
}

question {
  cursor: pointer;
}

question:hover {
  color: #35961b;
}

answer {
  background: lightgray;
}

question {
  font-weight: bold;
}

question::before {
  font-size: 16px;
  font-weight: bold;
  content: "Q: "
}

answer::before {
  font-size: 16px;
  font-weight: bold;
  content: "A: "
}
